@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="sticky-header-container">
	<nav id="sticky-links" class="navbar navbar-dark bg-light position-sticky disable-hover" data-spy="affix" data-offset-top="50">
		<div class="container">
			<div class="menu-secondary">
				<ul class="nav sticky-menu-secondary-container nav-tabs nav-justified" role="tablist">
					<li class="active" style="opacity: 100">
						<a href="#lifeSciences-6" role="tab" data-toggle="tab">Life Sciences</a>
					</li>
					<li>
						<a href="#earthSciences-6" role="tab" data-toggle="tab">Paleontology</a>
					</li>
					<li>
						<a href="#history-6" role="tab" data-toggle="tab">Ethnology and History</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
